absl-py==0.12.0
astor==0.8.1
cached-property==1.5.2
certifi==2020.12.5
click==8.0.1
dataclasses==0.8
Flask==1.1.1
gast==0.4.0
grpcio==1.38.0
h5py==3.1.0
importlib-metadata==4.3.1
itsdangerous==2.0.1
Jinja2==3.0.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.4
MarkupSafe==2.0.1
mock==4.0.3
nltk==3.4.5
numpy==1.16.5
Pillow==8.2.0
protobuf==3.17.1
six==1.16.0
tensorboard==1.13.1
tensorflow==1.13.2
tensorflow-estimator==1.13.0
termcolor==1.1.0
tflearn==0.3.2
typing-extensions==3.10.0.0
Werkzeug==2.0.1
zipp==3.4.1
